/* The secret sauce that enables gradient rotation. */
@property --gruv-border-angle-1 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --gruv-border-angle-2 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 90deg;
}

@property --gruv-border-angle-3 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 180deg;
}

/* Scoped variables */
.gruv-button-wrapper {
    --gruv-bright-blue: rgb(0, 100, 255);
    --gruv-bright-green: rgb(0, 255, 0);
    --gruv-bright-red: rgb(255, 0, 0);
    --gruv-background: black;
    --gruv-foreground: white;
    --gruv-border-size: 2px;
    --gruv-border-radius: 0.75em;
}

@keyframes rotateBackground {
    to {
        --gruv-border-angle-1: 360deg;
    }
}

@keyframes rotateBackground2 {
    to {
        --gruv-border-angle-2: -270deg;
    }
}

@keyframes rotateBackground3 {
    to {
        --gruv-border-angle-3: 540deg;
    }
}

.gruv-button {
    --gruv-border-angle-1: 0deg;
    --gruv-border-angle-2: 90deg;
    --gruv-border-angle-3: 180deg;
    color: inherit;
    font-size: 0.9rem;
    /* Adjusted for footer */
    font-family: inherit;
    border: 0;
    padding: var(--gruv-border-size);
    display: flex;
    width: max-content;
    border-radius: var(--gruv-border-radius);
    background-color: transparent;
    background-image: conic-gradient(from var(--gruv-border-angle-1) at 10% 15%,
            transparent,
            var(--gruv-bright-blue) 10%,
            transparent 30%,
            transparent),
        conic-gradient(from var(--gruv-border-angle-2) at 70% 60%,
            transparent,
            var(--gruv-bright-green) 10%,
            transparent 60%,
            transparent),
        conic-gradient(from var(--gruv-border-angle-3) at 50% 20%,
            transparent,
            var(--gruv-bright-red) 10%,
            transparent 50%,
            transparent);
    animation:
        rotateBackground 3s linear infinite,
        rotateBackground2 8s linear infinite,
        rotateBackground3 13s linear infinite;
    cursor: pointer;
}

.gruv-button div {
    background: var(--gruv-background);
    padding: 0.2em 0.8em;
    /* Adjusted padding for footer compact look */
    border-radius: calc(var(--gruv-border-radius) - var(--gruv-border-size));
    color: var(--gruv-foreground);
    font-weight: bold;
    letter-spacing: 1px;
}